<form class="login" method="POST" action="/login/">
    <fieldset>
        <!-- legend>Login</legend -->
        <h1 class="headForm"><i class="fa fa-lock" aria-hidden="true"></i> <%=sails.config.common.site_name%></h1>
        <% include ../element/_error %>
        <table style=" font-size: 13px;">
            <tr><th style="font-weight: normal;"><%-__('Username or email')%> <span class="req">*</span>:</th><td><input autofocus="autofocus" type="text" name="user_name" tabindex="1"></td></tr>
            <tr><th style="font-weight: normal;"><%=__('Password')%> <span class="req">*</span>:</th><td><input type="password" name="password" tabindex="2"></td></tr>
            <tr><th></th><td><label class="uiLabelCheckbox"><input <%if(req.param('rememberme')) {%> checked="checked"<%}%> type="checkbox" name="rememberme" tabindex="3"><%=__('Keep me login')%></label></td></tr>
            <tr><th></th><td><button class="rio-button-action" tabindex="4"><%=__('Login')%></button></td></tr>
            <tr><th></th><td><a href="/recover">Quên tài khoản?</a> hoặc <a href="/entry" class="rio-button-action3" tabindex="4"><%=__('Entry')%></a></td></tr>
        </table>
    </fieldset>
    <input type="hidden" name="next" value="<%=res.locals.next||''%>">
    <input type='hidden' name='_csrf' value='<%= _csrf %>'>
</form>