<div class="adminMainScreen clearfix">
    <div class="mainMenu">
        <%include ../../element/_welcome%>
        <%include ../../element/_admin_menu%>
    </div>
    <div class="detailAction">
       <h2 class="sub-right"><i style="margin-right: 10px;" class="fa fa-user"></i>Add user</h2>
       <div class="search">
           <form action="/admin/user/edit" method="post" id="addIn" autocomplete="off">
           <input type="hidden" name="uid" value="<%=req.param('uid') || ''%>">
           <% include ../../element/_error %>
               <table class="data-form">
                    <tr>
                        <th>Tên đăng nhập: <span class="req">*</span></th>
                        <td><%-form.input(User, 'user_name', req.param('user_name') || res.locals.user.user_name, {autofocus: 'autofocus'})%>
                    </tr>
                    <tr>
                        <th>Email: <span class="req">*</span></th>
                        <td><%-form.input(User, 'email', req.param('email') || res.locals.user.email)%></td>
                    </tr>
                    <tr>
                        <th>Chọn phân loại: <span class="req">*</span></th>
                        <td><%if(req.param('member_type')) {%>
                                <%-form.input(User, 'member_type', req.param('member_type') || '', {class: 'uiLabelCheckbox', style:'margin-right:6px;'})%>
                            <%} else {%>
                                <%-form.input(User, 'member_type', res.locals.user.member_type || '', {class: 'uiLabelCheckbox', style:'margin-right:6px;'})%>
                            <%}%></td>
                    </tr>
                    <tr>
                        <th>Chọn quyền: <span class="req">*</span></th>
                        <td><%if(req.param('auth_type')) {%>
                                <%-form.input(User, 'auth_type', req.param('auth_type') || '', {class: 'uiLabelCheckbox', style:'margin-right:6px;'})%>
                             <%} else {%>
                                <%-form.input(User, 'auth_type', res.locals.user.auth_type || '', {class: 'uiLabelCheckbox', style:'margin-right:6px;'})%>
                             <%}%></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><button type="submit">Edit</a></button>&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;<button onclick="javascript: return confirm('Are you sure ?')" name="delete" value="<%= _csrf %>" style="background-color: red; color: white;" type="submit">Delete</button></td>
                    </tr>
               </table>
               <input type='hidden' name='_csrf' value='<%= _csrf %>'>
           </form>
       </div>
    </div>
</div>