<div class="adminMainScreen clearfix">
    <div class="mainMenu">
        <%include ../../element/_welcome%>
        <%include ../../element/_admin_menu%>
    </div>
    <div class="detailAction">
       <h2 class="sub-right"><i style="margin-right: 10px;" class="fa fa-user"></i>Add user</h2>
       <div class="search">
           <form action="/admin/user/add" method="post" id="addIn">
           <% include ../../element/_error %>
               <table class="data-form">
                    <tr>
                        <th>Tên đăng nhập:</th>
                        <td><input autofocus="autofocus" type="text" name="user_name" value="<%=req.param('user_name') || ''%>"></td>
                    </tr>
                    <tr>
                        <th>Mật khẩu:</th>
                        <td><input type="password" name="password" value=""></td>
                    </tr>
                    <tr>
                        <th>Mật khẩu<br/>Xác nhận:</th>
                        <td><input type="password" name="repassword" value=""></td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td><input type="email" name="email" value="<%=req.param('email') || ''%>"></td>
                    </tr>
                    <tr>
                        <th>Chọn phân loại:</th>
                        <td><%for(var i in sails.config.common.memberType) {%>
                            <label class="uiLabelCheckbox"><input <%if(i == req.param('member_type')) {%>checked='checked'<%}%> name="member_type" type="radio" value="<%=i%>"><%=sails.config.common.memberType[i]%></label>
                            <%}%>
                    </tr>
                    <tr>
                        <th>Chọn quyền:</th>
                        <td><%for(var i in sails.config.common.authType) {%>
                            <label class="uiLabelCheckbox"><input <%if(i == req.param('auth_type')) {%>checked='checked'<%}%>  name="auth_type" type="radio" value="<%=i%>"><%=sails.config.common.authType[i]%></label>
                            <%}%></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><button type="submit">Add</a></button></td>
                    </tr>
               </table>
           </form>
       </div>
    </div>
</div>