<div class="mainScreen clearfix">
<div class="leftSide menu">
<%include /element/_menu%>
</div>
<div class="rightSide">
    <div class="kanban">
    <h2 class="bar"><i class="fa fa-file-text-o"></i> Dự án <a><%=res.locals.data.project_name%></a> sprint <%=req.session.user.data.currentSprint%></h2>
    <%include element/_error2%>
    <ul class="action clearfix">
        <li class="tool"><a id="showTaskForm" onclick="javascript:return false;" href="/task/create/"  ><i class="fa fa-tasks"></i> Add Task</a>
        <div class="boxup menu-list">
            <div class="input-data-form">
                
            </div>
        </div>
        </li>
        <li class="tool"><a href="#"><i class="fa fa-tasks"></i> Filter</a>
        <div class="boxup menu-list" tabindex="1">
            <div class="input-data-form">
            </div>
        </div>
        </li>
    </ul>
    <div class="data-area">
        <table class="scrum">
		    <tr class="head">
		        <th class="to-upper">to do</th>
		        <th class="to-upper">Doing</th>
		        <th class="to-upper">Chờ review</th>
		        <th class="to-upper">review</th>
		        <th class="to-upper">Done</th>
		        <th class="to-upper">Tắc tị</th>
		    </tr>
		    <tr class="l">
		        <td class="task task-to-do" id="task-to-do">
		            <%for(var i in res.locals.data.listTask) {
		            var task = res.locals.data.listTask[i];
		            if(task.status == 1) {%>
		            <%include element/task/task_note%>
		            <%}}%>
		        </td>
		        <td class="task task-doing" id="task-doing">
		        <%for(var i in res.locals.data.listTask) {
                    var task = res.locals.data.listTask[i];
                    if(task.status == 2) {%>
                    <%include element/task/task_note%>
                <%}}%>
		        </td>
		        <td class="task task-review-waiting" id="task-review-waiting">
		        <%for(var i in res.locals.data.listTask) {
                    var task = res.locals.data.listTask[i];
                    if(task.status == 3) {%>
                    <%include element/task/task_note%>
                <%}}%>
		        </td>
		        <td class="task task-review" id="task-review">
		        <%for(var i in res.locals.data.listTask) {
                    var task = res.locals.data.listTask[i];
                    if(task.status == 4) {%>
                    <%include element/task/task_note%>
                <%}}%>
		        </td>
		        <td class="task task-done" id="task-done">
		        <%for(var i in res.locals.data.listTask) {
                    var task = res.locals.data.listTask[i];
                    if(task.status == 5) {%>
                    <div class="task-item t <%if(task.level==1) {%>green<%} else if(task.level == 2) {%>orange<%} else if(task.level == 3) {%>red<%}%>" id="<%=task.id%>">
                        <a class="id-ticket t"><%=task.ticket_id%></a>
                        <p class="task-name t"><%=task.task_name%></p>
                        <p class="member-name t"><b><%=task.user_id.user_name%></b></p>
                        <p class="start-time"><%if(task.start_time) {%><%=sails.moment(task.start_time).format('YYYY/MM/DD h:mm')%><%}%></p>
                        <p class="end-time"><%if(task.end_time) {%><%=sails.moment(task.end_time).format('YYYY/MM/DD h:mm')%><%}%></p>
                        <ul class="tool clearfix">
                            <li class="change-status">
                                <blockquote role="cmd-toggle" class="box t" data-title="đổi trạng thái task"><i class="fa fa-list"></i></blockquote>
                                <ul tabindex="2" class="popup">
                                    <li class="t" role="cmd-sendto-to-do"><i class="fa fa-list"></i>&nbsp;to do</li>
                                    <li class="t" role="cmd-sendto-doing"><i class="fa fa-smile-o"></i>&nbsp;doing</li>
                                    <li class="t" role="cmd-sendto-review-waiting"><i class="fa fa-clock-o"></i>&nbsp;chờ review</li>
                                    <li class="t" role="cmd-sendto-review"><i class="fa fa-cogs"></i>&nbsp;review</li>
                                    <li class="t" role="cmd-sendto-done"><i class="fa fa-check-square-o"></i>&nbsp;done</li>
                                    <li class="t" role="cmd-sendto-suppend"><i class="fa fa-frown-o"></i>&nbsp;tắc tị</li>
                                </ul>
                            </li>
                            <li class="t box" role="cmd-sleep" data-title="collapse"><i class="fa fa-caret-square-o-up"></i></li>
                            <li class="t box" role="cmd-edit" data-title="edit task"><i class="fa fa-pencil-square-o"></i></li>
                            <li class="t box" role="cmd-remove" data-title="delete task"><i class="fa fa-trash-o"></i></li>
                        </ul>
                    </div>
                <%}}%>
		        </td>
		        <td class="task task-suppend" id="task-suppend">
		        <%for(var i in res.locals.data.listTask) {
                    var task = res.locals.data.listTask[i];
                    if(task.status == 6) {%>
                    <%include element/task/task_note%>
                <%}}%>
		        </td>
		    </tr>
		</table>
    </div>
    </div>
</div>
</div>