<table id="invoiceTbl" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="size-1 alignCenter"><%=__('global.stt')%></th>
            <th class="size-4 alignCenter"><%=__('invoice.invoiceCode')%></th>
            <th class="size-4 alignCenter"><%=__('invoice.customerName')%></th>
            <th class="size-4 alignCenter"><%=__('invoice.totalPrice')%></th>
            <th class="size-4 alignCenter"><%=__('invoice.trueTotalPrice')%></th>
            <th class="size-4 alignCenter"><%=__('invoice.createdAt')%></th>
            <th class="size-5 alignCenter"><%-__('invoice.organizationName')%></th>
            <th class="size-4 alignCenter"><%=__('global.action')%></th>
        </tr>
    </thead>
</table>