<div class="panel panel-default window">
    <div class="panel-heading"><strong><span class="glyphicons glyphicons-show-big-thumbnails"></span> 
    Nhập mắt kính cận</strong>
    <%include ../element/toolbar%>
    </div>
    <div class="panel-body no-padding" data-ng-controller="tableCtrl">
        <div class="table-responsive min-height-table">
            <table id="lstProduct" class="table form-table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="size-1">STT</th>
                        <th class="size-1">Thêm</th>
                        <th class="size-1">Sửa</th>
                        <th class="size-1">Xóa</th>
                        <th class="size-2">
                          <div class="sort">Mã vạch
                          <span class="glyphicons icon-sort glyphicons-chevron-up"
                              data-ng-click=" order('code', 'asc') "
                              data-ng-class="{active: row == 'code' && type == 'asc'}"
                          ></span>
                          <span class="glyphicons icon-sort glyphicons-chevron-down"
                              data-ng-click=" order('code', 'desc') "
                              data-ng-class="{active: row == 'code' && type == 'desc'}"
                              ></span>
                          </div>
                        </th>
                        <th class="size-2">
                          <div class="sort">Số độ
                          <span class="glyphicons icon-sort glyphicons-chevron-up"
                              data-ng-click=" order('cycl', 'asc') "
                              data-ng-class="{active: row == 'cycl' && type == 'asc'}"
                          ></span>
                          <span class="glyphicons icon-sort glyphicons-chevron-down"
                              data-ng-click=" order('cycl', 'desc') "
                              data-ng-class="{active: row == 'cycl' && type == 'desc'}"
                              ></span>
                          </div>
                        </th>
                        <th class="size-2">
                          <div class="sort">Loại
                          <span class="glyphicons icon-sort glyphicons-chevron-up"
                              data-ng-click=" order('kind', 'asc') "
                              data-ng-class="{active: row == 'kind' && type == 'asc'}"
                          ></span>
                          <span class="glyphicons icon-sort glyphicons-chevron-down"
                              data-ng-click=" order('kind', 'desc') "
                              data-ng-class="{active: row == 'kind' && type == 'desc'}"
                              ></span>
                          </div>
                        </th>
                        <th class="size-6">
                          <div class="sort">Mô tả
                          <span class="glyphicons icon-sort glyphicons-chevron-up"
                              data-ng-click=" order('desciption', 'asc') "
                              data-ng-class="{active: row == 'desciption' && type == 'asc'}"
                          ></span>
                          <span class="glyphicons icon-sort glyphicons-chevron-down"
                              data-ng-click=" order('desciption', 'desc') "
                              data-ng-class="{active: row == 'desciption' && type == 'desc'}"
                              ></span>
                          </div>
                        </th>
                        <th class="size-2">
                          <div class="sort">Số lượng
                          <span class="glyphicons icon-sort glyphicons-chevron-up"
                              data-ng-click=" order('number', 'asc') "
                              data-ng-class="{active: row == 'number' && type == 'asc'}"
                          ></span>
                          <span class="glyphicons icon-sort glyphicons-chevron-down"
                              data-ng-click=" order('number', 'desc') "
                              data-ng-class="{active: row == 'number' && type == 'desc'}"
                              ></span>
                          </div>
                        </th>
                        <th class="size-3">
                          <div class="sort">Giá bán
                          <span class="glyphicons icon-sort glyphicons-chevron-up"
                              data-ng-click=" order('price', 'asc') "
                              data-ng-class="{active: row == 'price' && type == 'asc'}"
                          ></span>
                          <span class="glyphicons icon-sort glyphicons-chevron-down"
                              data-ng-click=" order('price', 'desc') "
                              data-ng-class="{active: row == 'price' && type == 'desc'}"
                              ></span>
                          </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="store in currentPageStores">
                        <td class="stt">{{store.stt}}</td>
                        <td class="align-center"><a data-ng-if="store.showAdd" data-ng-click="addRow();" title="Thêm mới mắt kính" href="javascript:void(0);"><%-__('table.add')%></a></td>
                        <td class="align-center" data-ng-if="store.showEdit"><a data-ng-click="editRow(store);" title="Sửa mắt kính" href="javascript:void(0);"><%-__('table.edit')%></a></td>
                        <td class="align-center" data-ng-if="store.editable"><a data-ng-click="saveRow(store);" title="Lưu lại" href="javascript:void(0);"><%-__('table.save')%></a></td>
                        <td class="align-center"><a data-ng-if="store.showDelete" data-ng-click="removeRow(store);" title="Xóa mắt kính" href="javascript:void(0);"><%-__('table.delete')%></a></td>
                        <td class="code" data-ng-if="! store.editable">{{store.code}}</td>
                        <td class="code" data-ng-if="store.editable"><input type="text" data-ng-model="store.code" /></td>
                        <td class="code" data-ng-if="! store.editable">{{store.cycl}}</td>
                        <td class="code" data-ng-if="store.editable"><input type="text" data-ng-model="store.cycl" /></td>
                        <td class="string" data-ng-if="! store.editable">{{store.kind}}</td>
                        <td class="string" data-ng-if="store.editable">
                            <select class="js-cat" data-ng-model="store.kind">
                                <option value=""><%-__("select.chosen")%></option>
                                <% _.each(sysCatClass, function(sysCat){ %>
                                  <option value=<%= sysCat.id %> >
                                    <%= sysCat.name %>
                                  </option>
                                <% }) %>
                                <option value="00"><%-__("select.option")%></option>
                            </select>
                        </td>
                        <td class="string" data-ng-if="! store.editable">{{store.desciption}}</td>
                        <td class="string" data-ng-if="store.editable"><input type="text" data-ng-model="store.desciption" /></td>
                        <td class="number" data-ng-if="! store.editable">{{store.number}}</td>
                        <td class="number" data-ng-if="store.editable"><input type="text" data-ng-model="store.number" /></td>
                        <td class="money" data-ng-if="! store.editable">{{store.price}}</td>
                        <td class="money" data-ng-if="store.editable"><input type="text" data-ng-model="store.price"  onkeyup="Ctrl.numberWithDot(this)" /></td>
                    </tr>
                </tbody>
            </table>
            <!-- <button id="import-delete" class="btn btn-danger remover btn-disable" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i> Xóa bản ghi được đánh dấu</button> &nbsp;
            <button id="import-add" class="btn btn-primary" type="button"><i class="fa fa-plus-square" aria-hidden="true"></i> Thêm</button> -->
        </div>
        <div class="table-footer clearfix">
            <div class="info">
                <input class="table-info" data-ng-model="searchKeywords" data-ng-keyup="search()" placeholder="Lọc bản ghi theo"> 
                <span class="table-info">Hiển thị</span>
                <select class="table-info" ng-model="numPerPage" data-ng-change="onNumPerPageChange()">
                    <option data-ng-repeat="opt in numPerPageOpt" data-ng-selected="opt == numPerPage">{{opt}}</option>
                </select>
                <span class="table-info">trong {{filteredStores.length}} bản ghi</span>
            </div>
            <ul data-uib-pagination
                data-total-items="filteredStores.length" 
                data-ng-model="currentPage"
                data-ng-change="select(currentPage)" 
                data-max-size="4" 
                class="pagination-sm"
                data-items-per-page="numPerPage"
                data-boundary-link-numbers="true" 
                data-rotate="false"></ul>
        </div>
    </div>
</div>
<script type="text/javascript">
   $(function() {
       var STT = 0;
       __d('click', '#import-add', function() {
           var str = '<tr class="im-new-member">\
                <td class="number"><input name="ck[]" tabindex="-1" type="checkbox"></td>\
                <td class="number"><input name="import[' + STT + '][code]" class="form-control ceditable t" readonly="readonly" value="' + Ctrl.getNextCode() + '" maxlength="14" type="text"></td>\
                <td class="text">  <input name="import[' + STT + '][name]" class="form-control ceditable t validate[required]" value="" type="text"></td>\
                <td class="number"><label class="webkit onlist t" style="vertical-align: top;">' + Ctrl.getCategory("import[" + STT + "][cat]") + '</label></td>\
                <td class="number"><input name="import[' + STT + '][sl]" value="0" class="form-control ceditable t validate[required,custom[number]]" type="text"></td>\
                <td class="number"><input name="import[' + STT + '][price]" value="" onkeyup="Ctrl.numberWithDot(this)" class="form-control ceditable t validate[required,custom[money]]" maxlength="14" type="text"></td>\
            </tr>';
            $('#lstProduct .im-new-member').removeClass('im-new-member');
            $('#lstProduct').append(str).find('.im-new-member').find('input[name="import[' + STT + '][name]"]').focus();
            $('#lstProduct').find('.im-new-member').find('input[name="ck[]"]').trigger('change');
            STT ++;
            return false;
       });
       __d('click', '#import-delete', function() {
           if(confirm('Bạn muốn xóa bản ghi?')) {
               $('input[name="ck[]"]:checked').each(function() {
                   $(this).parents('tr').remove();
               });
               $('#import-delete').addClass('btn-disable');
           }
       });
       __d('change', 'select.js-cat', function() {
           if($(this).val() == "00") {
               Ctrl.showAddCat(this);
               $(this).val("0");
           }
       });
       $(window).on('beforeunload', function(){
           if($('input[name="ck[]"]').length) {
               return 'Are you sure you want to leave?';
           }
       });
   })
</script>
