<%if(req.param('act') != 'crt' && req.param('catname') != '') {%>
<div id="add-cate-container"  tabindex="-1" class="ipopupContainer model-add-cat" data-expanded="true">
<%}%>
    <form method="post" target="$('#add-cate-container')" action="/product/cat.new" class="load-ajax">
    <input type="hidden" name="act" value="crt">
    <div class="hide-on-create-pl-panel">
        <h3>Thêm/Sửa danh mục</h3>
        <p class="static-note">Chú ý: không xóa được danh mục khi có sản phẩm liên kết</p>
    </div>
    <div class="catlists">
        <%if(res.locals.list) {%>
        <ul class="yt-uix-kbd-nav-list">
            <%for(var i in res.locals.list) {
                var cat = res.locals.list[i]; %>
            <li class="to-catlist-item ctrl-parent"><span><%=cat.cat_name%></span><a class="cmd-edit-cat ctrl-cmd-ok" data-ctrl-content='{"eid":"<%=cat.cat_id%>", "_csrf":"<%= _csrf %>"}' href="javascript:;" onclick="Ctrl.editCat(this)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
            <%}%>
            </ul>
        <%}%>
    </div>
    <div class="menu-panel create-playlist-panel active-panel">
        <div class="addto-create-cat-section">
            <input autofocus="autofocus" name="catname" class="yt-uix-form-input-text" type="text" >
        </div>
    </div>
    <div class="addto-create-catlist-section addto-create-cat-section clearfix">
        <div class="create-catlist-buttons">
            <button type="submit" class="yt-uix-button yt-uix-button-primary">Tạo</button>
        </div>
    </div>
        <input type='hidden' name='_csrf' value='<%= _csrf %>'>
    </form>
<%if(req.param('act') != 'crt' && req.param('catname') != '') {%>
</div>
<%}%>
<%if(res.locals.Close) {%>
<script type="text/javascript">
$(ICONFIG.IPOPUP_SELECTOR).remove();
$(ICONFIG.IPOPUP_CURRENT.target).val('<%-res.locals.Created%>');
</script>
<%}%>