<div id="saveResultDisplayTag">
    <script>
        d2tResetToken('<%=_csrf%>');
        tctProcessReturnMessage('<%=returnCode || ""%>', '<%=message || ""%>', '<%=callback || ""%>', '<%=extraValue || ""%>');
    </script>
</div>