<table id="customerTbl" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="size-1 alignCenter"><%=__('global.stt')%></th>
            <th class="size-4 alignCenter"><%=__('customer.phoneNumber')%></th>
            <th class="size-6 alignCenter"><%=__('customer.fullName')%></th>
            <th class="size-7 alignCenter"><%=__('customer.address')%></th>
            <th class="size-7 alignCenter"><%=__('customer.orgName')%></th>
            <th class="size-5 alignCenter"><%-__('customer.updatedAt')%></th>
            <th class="size-4 alignCenter"><%=__('global.action')%></th>
        </tr>
    </thead>
</table>