<form class="login" method="POST" action="/login/">
    <fieldset style="padding: 30px 45px;">
        <h1 class="headForm"><i class="fa fa-lock" aria-hidden="true"></i> Đăng ký tài khoản và thông tin công ty, cửa hàng</h1>
        <% include ../element/_error %>
        <table class="fulltd" style=" font-size: 13px; width: 100%;">
            <tr><th style="font-size: 15px; text-align: left;" colspan="2">1. Thông tin cá nhân</th></tr>
            <tr><th style="font-weight: normal;"><%-__('Username')%> <span class="req">*</span>:</th><td style="width: 250px;"><input autofocus="autofocus" type="text" name="user_name" tabindex="1"></td></tr>
            <tr><th style="font-weight: normal;"><%=__('Password')%> <span class="req">*</span>:</th><td><input type="password" name="password" tabindex="2"></td></tr>
            <tr><th style="font-weight: normal;"><%=__('RePassword')%> <span class="req">*</span>:</th><td><input type="password" name="password" tabindex="2"></td></tr>
            <tr><th style="font-weight: normal;"><%=__('Email')%> <span class="req">*</span>:</th><td><input type="text" name="password" tabindex="2"></td></tr>
            <tr><th style="font-weight: normal;"><%=__('Tel')%> :</th><td><input type="text" name="password" tabindex="2"></td></tr>
            <tr><th style="font-size: 15px; text-align: left;" colspan="2">2. Thông tin công ty, cửa hàng</th></tr>
            <tr><th style="font-weight: normal;"><%-__('ComporationName')%> <span class="req">*</span>:</th><td style="width: 250px;"><input autofocus="autofocus" type="text" name="user_name" tabindex="1"></td></tr>
            <tr><th style="font-weight: normal;"><%=__('ContactAddress')%> <span class="req">*</span>:</th><td><input type="password" name="password" tabindex="2"></td></tr>
            <tr><th style="font-weight: normal;"><%=__('ContactTel')%> <span class="req">*</span>:</th><td><input type="password" name="password" tabindex="2"></td></tr>
            <tr><th style="font-weight: normal;"><%=__('ContactEmail')%> <span class="req">*</span>:</th><td><input type="text" name="password" tabindex="2"></td></tr>
            <tr><th style="font-weight: normal;"><%=__('Logo')%> :</th><td><input type="text" name="password" tabindex="2"></td></tr>
            <tr><th style="font-size: 12px; text-align: left;" colspan="2">3. Điều khoản sử dụng</th></tr>
            <tr>
            <td style="font-size: 12px; text-align: left;" colspan="2">
                <ul>
                <li></li>
                </ul>
            </td>
            </tr>
            <tr><th></th><td><label class="uiLabelCheckbox"><input <%if(req.param('rememberme')) {%> checked="checked"<%}%> type="checkbox" name="rememberme" tabindex="3"><%=__('Đồng ý điều khoản sử dụng, chính sách bảo mật')%></label></td></tr>
            <tr><th></th><td><button class="rio-button-action" tabindex="4"><%=__('Entry')%></button></td></tr>
            <tr><th></th><td><a href="/recover">Quên tài khoản?</a></td></tr>
        </table>
    </fieldset>
    <input type="hidden" name="next" value="<%=res.locals.next||''%>">
    <input type='hidden' name='_csrf' value='<%= _csrf %>'>
</form>