<div id="header">
    <div class="table">
    <div class="table-cell">
        <%if(req.session.user && req.session.user.currentCom.com_cd) {%>
            <a href="/pid=<%=req.session.user.currentCom.com_cd%>"><img src="<%=req.session.user.currentCom.logo || '/image/logo_d2t.jpg' %> " height="30px;" alt="Chi nhánh <%=req.session.user.currentCom.comporation_name%>"></a>
        <%} else {%>
            <a href="/"><img src="/image/logo_d2t.jpg" height="30px;" alt="kanban"></a>
        <%}%>
    </div>
    <%if(req.session.authenticated && req.session.user.auth_type == 2) {%>
    <div class="table-cell">
        <a href="/admin"><span class="glyphicons glyphicons-cogwheel"></span> Quản trị</a>
    </div>
    <%}%>
    <% if(req.session.authenticated) { %>
    <%if(res.locals.app && res.locals.app.comOfUser) {%>
    <div class="table-cell">
        <select role="localtion" name="project_id">
        <%for(var i in res.locals.app.comOfUser) {
        var pou = res.locals.app.comOfUser[i];%>
            <option <%if(req.session.user.currentCom.com_cd==pou.com_cd.com_cd){%> selected="selected"<%}%> value="/?pid=<%=pou.com_cd.com_cd%>"><%=pou.com_cd.comporation_name%></option>
        <%}%>
        <option value="/">Thêm chi nhánh</option>
        </select>
    </div>
    <%if(req.session.authenticated) {%>
    <div class="table-cell">
        <a href="/product/import" class="rio-button-action remover" style="margin: 0;"><span class="glyphicons glyphicons-more-items"></span> Nhập kho</a>
    </div>
    <div class="table-cell">
        <a href="/product/export" class="rio-button-action" style="margin: 0;"><span class="glyphicons glyphicons-file-export"></span> Xuất bán</a>
    </div>
    <%}%>
    <%}%>
    <%} else {%>
    <div class="table-cell">
        <a href="/login/?via=front&rememberme=yes" class="rio-button-action"><span class="glyphicons glyphicons-log-in"></span>&nbsp; <%=__('Login')%></a>
    </div>
    <%}%>
    <div class="table-cell free-cell"></div>
    <% if(req.session.authenticated) { %>
    <%if(res.locals.isAdmin) { %>
    <div class="table-cell admin-menu">
        <a href="javascript:;" onclick="$(this).parents('.admin-menu').toggleClass('active').find('.menu-list').focus().blur(function() { var $this=$(this); setTimeout( function() { $this.parents('.admin-menu').removeClass('active'); }, 300); } );" ><i class="fa fa-cog"></i>&nbsp; Config dự án</a>
            <ul class="menu-list" tabindex="100">
                <li><a href="/project/add"><i class="fa fa-users"></i>&nbsp; New Project</a></li>
                <li><a href="/user/join"><i class="fa fa-user"></i>&nbsp; New Member</a></li>
            </ul>
        </div>
        <% } %>
        <div class="table-cell">
            <a href="/logout" class="rio-button-action"><span class="glyphicons glyphicons-log-out"></span>&nbsp; <%=__('Logout')%></a>
        </div>
        <% } %>
    </div>
    <div id="butterbar" class="butterbar clearfix">
        <div class="wrapper">
        </div>
        <a class="close"><i class="fa fa-times-circle"></i></a>
    </div>
</div>