<%if(req.session.authenticated) {%>
<p class="sub">Quản lý</p>
<ul class="menu">
    <li><a href="/profile/"><i class="fa fa-user"></i><%=req.session.user.user_name%></a></li>
    <li ><a href="#"><i class="fa fa-file-text-o"></i>Project</a>
        <ul class="subMenu">
        <%if(res.locals.app && res.locals.app.prOfUser) {%>
        <%for(var i in res.locals.app.prOfUser) {
        var pro = res.locals.app.prOfUser[i];
        %>
            <li>
            <%if(req.session.user.data.currentProject == pro.project_id.id) {%>
            <a class="selected" href="/?pid=<%=pro.project_id.id%>"><i class="fa fa-dot-circle-o"></i><%=pro.project_id.project_name%></a>
            <% } else {%>
            <a href="/?pid=<%=pro.project_id.id%>"><i class="fa fa-circle-o"></i><%=pro.project_id.project_name%></a>
            <%}%>
            </li>
        <%}%>
        <%} else {%>
            <li>Bạn chưa tham gia vào dự án nào.</li>
        <%}%>
        </ul>
    </li>
    <li ><a href="#"><i class="fa fa-map-marker"></i> Sprint</a>
        <ul id="list-sprint" class="subMenu">
            <%include /sprint/list%>
            <li class="li-marked"><a remove="yes" target="$(this).parents('#list-sprint');" class="load-ajax" href="/sprint/add/?pid=<%=req.session.user.data.currentProject%>"><i class="fa fa-plus-square"></i>New sprint</a></li>
        </ul>
    </li>
</ul>
<%}%>