<table id="opticalTbl" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="size-1 alignCenter"><%=__('global.stt')%></th>
            <th class="size-4 alignCenter"><%=__('global.code')%></th>
            <th class="size-6 alignCenter"><%=__('global.name')%></th>
            <th class="size-3 alignCenter"><%=__('optical.totalProduct')%></th>
            <th class="size-4 alignCenter"><%=__('global.action')%></th>
        </tr>
    </thead>
</table>
